{% load static tailwind_tags %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{% block title %}Django Chatbot{% endblock %}</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    {% tailwind_css %}
  </head>

  <body>
    <style>
    html, body {
      margin: 0;
      padding: 0;
      height: 100%;
    }
    </style>

    {% block body %} {% endblock %}
  </body>
  {% block scripts%}{% endblock %}
</html>
