{% extends 'base.html' %} 
{% block body %}


<div class="grid grid-cols-3 grid-rows-2 h-screen w-screen gap-1">
  {% comment %} SWE {% endcomment %}
  <div id="gitem1" class="grid-item bg-red-500 flex flex-col justify-center items-center">
    <h1 class="relative center mt-2 text-3xl tracking-tight font-medium text-white" id="chat-header">Software Engineer</h1>
    <div id="chat-log" class="relative center mt-2 w-full p-6 overflow-y-auto h-[30rem] bg-gray-50 border border-gray-200"></div>
    <div class="mt-2 mb-2 flex flex-col items-center">
      <input id="chat-message-input" class="py-2 outline-none bg-gray-50 border border-gray-300 text-gray-900 text-sm focus:border-blue-500 mb-2" type="text" placeholder="Type Message." />
      <button id="chat-message-submit" class="relative py-2 px-4 border border-transparent text-sm font-medium rounded-md text-white bg-blue-800 hover:bg-blue-900 w-full max-w-[10rem]" type="submit">Send</button>
    </div>
  </div>
  {% comment %} <div class="resizer bg-red-500 opacity-50 z-10 w-1 cursor-ew-resize absolute" data-resize-target="gitem1"></div> {% endcomment %}
  {% comment %} HR {% endcomment %}
  <div id="gitem2" class="grid-item bg-green-500 flex flex-col justify-center items-center">
    <h1 class="relative center mt-2 text-3xl tracking-tight font-medium text-white" id="HRchat-header">Human Resources</h1>
    <div id="HRchat-log" class="relative center mt-2 w-full p-6 overflow-y-auto h-[30rem] bg-gray-50 border border-gray-200"></div>
    <div class="mt-2 mb-2 flex flex-col items-center">
      <input id="HRchat-message-input" class="py-2 outline-none bg-gray-50 border border-gray-300 text-gray-900 text-sm focus:border-blue-500 mb-2" type="text" placeholder="Type Message." />
      <button id="HRchat-message-submit" class="relative py-2 px-4 border border-transparent text-sm font-medium rounded-md text-white bg-blue-800 hover:bg-blue-900 w-full max-w-[10rem]" type="submit">Send</button>
    </div>
  </div>
  {% comment %} Supervisor {% endcomment %}
  {% comment %} <div class="resizer bg-red-500 opacity-50 z-10 w-1 cursor-ew-resize absolute" data-resize-target="gitem2"></div> {% endcomment %}
  <div id= "gitem3" class="grid-item bg-blue-500 flex flex-col justify-center items-center"> 
    <h1 class="relative center mt-2  text-3xl tracking-tight font-medium text-white" id="CEOchat-header">CEO</h1>
    <div id="CEOchat-log" class="relative center mt-2 w-full p-6 overflow-y-auto h-[30rem] bg-gray-50 border border-gray-200"></div>
    <div class="mt-2 mb-2 flex flex-col items-center">
      <input id="CEOchat-message-input" class="py-2 outline-none bg-gray-50 border border-gray-300 text-gray-900 text-sm focus:border-blue-500 mb-2" type="text" placeholder="Type Message." />
      <button id="CEOchat-message-submit" class="relative py-2 px-4 border border-transparent text-sm font-medium rounded-md text-white bg-blue-800 hover:bg-blue-900 w-full max-w-[10rem]" type="submit">Send</button>
    </div>
  </div>
  {% comment %} <div class="resizer bg-red-500 opacity-50 z-10 w-1 cursor-ew-resize absolute" data-resize-target="gitem3"></div> {% endcomment %}
  <div class="grid-item bg-yellow-500 flex justify-center items-center"> </div>
  {% comment %} <div class="resizer bg-red-500 opacity-50 z-10 w-1 cursor-ew-resize absolute" data-resize-target="gitem4"></div> {% endcomment %}
  <div class="grid-item bg-fuchsia-500 flex justify-center items-center"></div>
  {% comment %} <div class="resizer bg-red-500 opacity-50 z-10 w-1 cursor-ew-resize absolute" data-resize-target="gitem5"></div> {% endcomment %}
  <div class="grid-item bg-cyan-500 flex justify-center items-center"> </div>
</div>

{% endblock %} 



{% block scripts%}
{% load static %}
  <script src="{% static 'chatScripts/CEOscript.js' %}"></script>
  <script src="{% static 'chatScripts/SWEscript.js' %}"> </script>
  <script src="{% static 'chatScripts/HRscript.js' %}"> </script>
{% endblock %}
